
<div id="content">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li>Contact</li>
            </ul>

        </div>

        <div class="col-md-3">
            <!-- *** PAGES MENU *** -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Continue Browsing</h3>
                </div>

                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Items")"><i class="fa fa-heart"></i> Gallery</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Register", "Account")"><i class="fa fa-archive"></i>Register</a>
                        </li>
                    </ul>

                </div>
            </div>
            <!-- *** PAGES MENU END *** -->
        </div>

        <div class="col-md-9">
            <div class="box" id="contact">
                <h1>Contact</h1>

                <p class="lead">Are you curious about something?</p>
                <p>Please feel free to contact us.</p>

                <hr>

                <div class="row">
                    <div class="col-sm-4">
                        <h3><i class="fa fa-map-marker"></i> Address</h3>
                        <p>
                            1231 Shields Rd
                            <br>Kernersville, NC
                            <br>27284
                            <br>
                            <strong>USA</strong>
                        </p>
                    </div>
                    <!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <h3><i class="fa fa-phone"></i> Call center</h3>
                        <p class="text-muted">This number is toll free.</p>
                        <p>
                            <strong>1-800-Support</strong>
                        </p>
                    </div>
                    <!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <h3><i class="fa fa-envelope"></i> Electronic support</h3>
                        <p class="text-muted">Please feel free to write an email to us.</p>
                        <ul>
                            <li>
                                <strong><a href="#">info@artgallery.com</a></strong>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-sm-4 -->
                </div>
                <!-- /.row -->
            </div>


        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->